# Dependencies
node_modules/
.pnpm-store/

# Environment
.env

# Build outputs
*.tsbuildinfo

# IDE and editor files
.idea/
.vscode/
*.swp
*.swo
*.DS_Store

# Temporary files
*.tmp
*.temp
*.sh
/dry

# Distribution Artifacts
dist/